.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.scale-enter-active,
.scale-leave-active {
    transition: all .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.scale-enter,
.scale-leave-to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.95);
}


.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
}

.page-transition .block {
    background-color: #222;
    width: 100%;
    flex: 1;
    /*transform: translateX(-100%);*/
    transform: translateX(0);
    animation: 700ms ease-in-out both;
    color: #FFF;
}

.page-transition .block:nth-of-type(1) {
    animation-delay: 200ms;
}

.page-transition .block:nth-of-type(2) {
    animation-delay: 300ms;
}

.page-transition .block:nth-of-type(3) {
    animation-delay: 400ms;
}

@keyframes in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.start .block {
    animation-name: out;
}

.end .block {
    animation-name: in;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}