.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.layout-inner {
    max-width: 1400px;
    margin: 0 auto;
}

.gap-h {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.f1 {
    flex: 1;
}

.mt-auto {
    margin-top: auto;
}