.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.layout-inner {
    max-width: 1400px;
    margin: 0 auto;
}